/*
Colors used:
Primary Color (Blue): #160A47;
Secondary Color (purple): #60047A;
light orange : #f2671f
second orange: #c91b26
magenta :9c0F5F
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #fffff6;
  background-color: #1E1E1A;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

img {
  max-width: 1200px;
  width: 100%;
}
img .center {
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
#hero_img{
  
  max-width: 70%;
}
p {
  max-width: 1200px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.6em;
  font-weight: 800;
  color: #ffffff;
  display: block;
  font-family: "Righteous";
  font-size: 30px;
}

.about {
  color: #fffff6;
  margin: 0 auto;
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 600;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #160a47;
  font-weight: 300;
  font-size: 19px;
}
a:active {
  color: #f2671f;
}
.button {
  display: inline-block;
  background-color: #fffff6;
  color:#284707;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
  transition: 0.2s opacity;
  font-family: 'Righteous';
  margin: 10px;
}
.button:hover {
  opacity: 0.8;
  background-color: #f2671f;
  color: #fffff6;
}



.logo {
  max-width: 60px;
  max-height: 30px;
  margin: 0 1em;
}
#contact {
  background-color: #ffffff;
  color: #c91b26;
}
#behance {
  width: 25px;
}
#contact p {
  color: #160a47;
}
#last_row {
  padding-bottom: 0px;
  margin-bottom: 15px;
}
main {
  padding-top: 47px;
  margin: 0px 10px;
  background-color: #292924;
  padding-bottom: 30px;
}
.case_study_section {
  border-bottom: 2px solid #f2671f;
}

.case_study_text {
  text-align: left;
}
#usability_test {
  padding-left: 20px;
  display: block;
}
.case_study_images {
  
  margin: 15px auto;
}
#hero {
  padding-top: 0;
  display: inline-block;
  width: 100%;
  
  text-align: center;
}
.centered{
  margin-block: 0;
}
footer h2 {
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-block-start: 0px;
}
footer p {
  margin-bottom: 0px;
  padding-bottom: 15 px;
  margin-left: 10px;
  margin-right: 10px;
}

#hero h1 {
  text-align: center;
  color: #ffffff;
}
#hero span {
  display: block;
}

header {
  background-color: #fffff6;
  padding: 5px 5px 4px;

  box-shadow: 0px 9px 9px 0px rgba(50, 50, 50, 0.35);
  position: fixed;
  width: 100%;
}
ul {
  list-style: none;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
  font-family: "Righteous";
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #284707;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: #284707;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  font-size: 16px;
  color: #f2671f;
  opacity: 80%;
  display: inline-block;
  font-weight: 900;
}
nav > ul > li > a:active {
  padding: 0 15px;

  text-transform: uppercase;
  font-weight: 400;
  color: #60047a;
}
g .navtoggle.responsive li {
  display: block;
}
.container {
  padding: 0 15 15 15;
  max-width: 1200px;
}

.row {
  background-color: #284707;
  color: #fffff6;
  padding: 15px 0;
  margin: 20px 0;
  box-shadow: 0px 9px 9px 0px rgba(50, 50, 50, 0.35);
  border: solid 0.5px rgba(125, 125, 125, 0.34);
}
.row p {
  margin: 15px 10px;
}
.row h3 {
  margin: 0 10px;
}

#work_h2 {
  padding-top: 15px;
  margin-block-start: 0px;
  margin: 0 10px;
  font-size: 60px;
  font-family: 'Righteous';
  text-align: left;
  color: #fffff6;
}

#linked_in_icon {
  width: 25px;
}
.skills_tools {
  color: #160a47;
}
#contact {
  background-color: #284707;
  color: #fffff6;
  font-family: "Righteous";
}
#contact p {
  color: #ffffff;
  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

.contact_links {
  color: #ffffff;
}

.ink_tank p,
.ink_tank h2,
.ink_tank h1 {
  padding: 0 10px;
  color: #284707;
}

.ink_tank {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #ffffff;
  max-width: 1200px;
  box-shadow: 0px 9px 9px 0px rgba(50, 50, 50, 0.35);
}
#ink_h1 {
  margin-block-end: 0;
  margin-block-start: 0px;
}
#socials {
  list-style: none;
}

#socials > li {
  display: inline;
  list-style: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes color-change {
  from {
    fill: #6c284e;
  }
  to {
    fill: #a51065;
  }
}

#front_skyline {
  animation: 5s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(250px, 30px);
  }
}

#back_clouds {
  animation: 50s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

#front_clouds {
  animation: 50s cloud-move-reverse infinite alternate linear;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 20px;
  padding-right: 0;
  margin: 0 1em;
}
.navtoggle.responsive li {
  display: block;
}
@media only screen and (min-width: 641px) {
  .about {
    padding: 3px 10px;
  }
  header {
    text-align: unset;
  }
 
  nav {
    width: auto;
    float: right;
  }
  .logo {
    margin-top: 12px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
  main {
    padding-top: 73px;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 50px;
  }
  body {
    font-size: 18px;
    background-color: #1E1E1A;
  }
  .col-md-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  nav > ul > li {
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    margin-top: 12px;
  }
 
  h1{
    font-size: 54px;
  }
  #work_h2{
    font-size: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    margin-top: 12px;
  }
}



.social_icons {
  padding-top: 20px;
}
